@model BlogBASC.Models.Blog

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<article class="blog-single">

    <!-- page header/blog hero
    ================================================== -->
    <div class="page-header page-header--single page-hero" style="background-image:url(../../Content/images/blog/@Model.Resim)">

        <div class="row page-header__content narrow">
            <article class="col-full">
                <div class="page-header__info">
                    <div class="page-header__cat">
                       @Model.Category
                    </div>
                </div>
                <h1 class="page-header__title">

                    @Model.Baslik

                </h1>
                <ul class="page-header__meta">
                    <li class="date"><span class="glyphicon glyphicon-time"></span> @Model.EklenmeTarihi</li>
                    <li class="author">
                        By
                        <span>Sena Çağlar</span>
                    </li>
                </ul>

            </article>
        </div>

    </div> <!-- end page-header -->

    <div class="row blog-content">
        <div class="col-full blog-content__main">

            <blockquote>
                <p>@Model.Aciklama</p>
            </blockquote>

            <p>
                @Model.Icerik
            </p>

            
            </div>
        </div>
        </article>



              